html {
    background-image: url(andyone--WW8jBak7bo-unsplash.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10rem;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(80, 80, 100);
    box-shadow: 10px 10px 5px black;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 425px;
    min-height: 150px;
    padding: 10px;
    flex: 1;
    font-size: 0.35em;
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(150, 150, 150);
    margin: 15px 15px 5px 15px;
    box-shadow: inset 5px 5px rgb(40, 40, 40);
}

.prevDisplay {
    order: 1;
}

.currentDisplay {
    order: 2;
}

.clearButtons {
    display: flex;
    flex-direction: row;
    padding: 10px 5px 5px 5px;
    width: 415px;
    justify-content: space-around;
    background-color: rgb(80, 80, 100);
}

.clearButton {
    margin: 1px;
    font-weight: bold;
    background-color: orange;
}

.deleteButton {
    margin: 1px;
    font-weight: bold;
    background-color: red;
}

.buttonGrid {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 5px;
    margin: 5px 5px 10px 5px;
    background-color: rgb(80, 80, 100);
}

button {
    cursor: pointer;
    font-family: 'Orbitron', monospace;
    font-size: 0.15em;
    font-weight: bold;
}

button:hover {
    opacity: .95;
}

.numButton {
    background-color: orangered ;
}

.opButton, .equalsButton, .decimalButton {
    background-color: teal;
}